# Developer/Programmer Jobs Ads Analysis
    
This data set was built using job ads from indeed.com, generated as a response to the general queries "programmer" and "developer".

In [1]:
import pandas as pd

In [2]:
scraped_job_data = pd.read_json("/Users/aaron/indeed/indeed/spiders/more.json")

In [3]:
scraped_job_data.head()

,title,job_details,qualifications,benefits,full_job_description
0,Python Developer,"[Job details, Salary, $80,000 - $120,000 a yea...","[Qualifications, Bachelor's (Preferred), REST:...",[],"[Write effective, scalable code, Develop back-..."
1,Associate Developer (Remote),[],[],[],"[Nationwide/Remote, \n, Associate Developer at..."
2,C# Developer,[],[],[],"[Pricing Developer, \nWhippany, NJ, \n, As a B..."
3,Web Developer,"[Job details, Job Type, Full-time]",[],[],"[Position Responsibilities:, Qualifications:, ..."
4,Jr. Software Developer,"[Job details, Salary, $65,000 - $90,000 a year...","[Qualifications, Bachelor's (Preferred), Node....",[],"[Job Title: Jr. Software Developer, Location: ..."

In [4]:
scraped_job_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 3648 non-null   object
 1   job_details           3655 non-null   object
 2   qualifications        3655 non-null   object
 3   benefits              3655 non-null   object
 4   full_job_description  3655 non-null   object
dtypes: object(5)
memory usage: 142.9+ KB

### Check for empty values in columns
    astype(bool) will filter out empty rows.

In [5]:
len(scraped_job_data[scraped_job_data.job_details.astype(bool)])

2950

In [6]:
len(scraped_job_data[scraped_job_data.qualifications.astype(bool)])

1190

In [7]:
(scraped_job_data[scraped_job_data.full_job_description.astype(bool)])

,title,job_details,qualifications,benefits,full_job_description
0,Python Developer,"[Job details, Salary, $80,000 - $120,000 a yea...","[Qualifications, Bachelor's (Preferred), REST:...",[],"[Write effective, scalable code, Develop back-..."
1,Associate Developer (Remote),[],[],[],"[Nationwide/Remote, \n, Associate Developer at..."
2,C# Developer,[],[],[],"[Pricing Developer, \nWhippany, NJ, \n, As a B..."
3,Web Developer,"[Job details, Job Type, Full-time]",[],[],"[Position Responsibilities:, Qualifications:, ..."
4,Jr. Software Developer,"[Job details, Salary, $65,000 - $90,000 a year...","[Qualifications, Bachelor's (Preferred), Node....",[],"[Job Title: Jr. Software Developer, Location: ..."
...,...,...,...,...,...
3650,Core Developer,"[Job details, Job Type, Full-time]",[],[],[What does a great TradeFlow Core Developer do...
3651,SDET - C# - Fully Remote,"[Job details, Salary, $125,000 - $160,000 a year]",[],[],"[Our client, a software company in the healthc..."
3652,C# Developer (7+ years experience),"[Job details, Salary, $80,000 - $150,000 a yea...","[Qualifications, Bachelor's (Required), C# or ...",[],[NOVO Engineering is a contract engineering se...
3653,PHP / CodeIgnitor Developer,"[Job details, Job Type, Full-time]",[],[],"[Description:\n, \nLynker Technologies has an ..."
3654,Software Developer PHP,"[Job details, Job Type, Full-time]",[],[],"[Posted: February 1st 2021, \n, POSITION:, \n,..."

In [8]:
len(scraped_job_data[scraped_job_data.title.astype(bool)])

3648

In [9]:
len(scraped_job_data[scraped_job_data.benefits.astype(bool)])

0

### Drop empty benefits column and rows without full description

In [10]:
scraped_job_data.drop('benefits', axis=1, inplace=True)

In [11]:
job_data = scraped_job_data[scraped_job_data.full_job_description.astype(bool)].copy()

In [12]:
len(job_data)

3622

### Join lists in last three columns to be able to check for and drop duplicates
    pandas duplicated() cannot work with lists

In [13]:
for col in job_data.columns[1:]:
    job_data.loc[:,col] = job_data[col].apply(lambda x: " ".join(x))

In [14]:
job_data.head()

,title,job_details,qualifications,full_job_description
0,Python Developer,"Job details Salary $80,000 - $120,000 a year J...",Qualifications Bachelor's (Preferred) REST: 1 ...,"Write effective, scalable code Develop back-en..."
1,Associate Developer (Remote),,,Nationwide/Remote \n Associate Developer at Be...
2,C# Developer,,,"Pricing Developer \nWhippany, NJ \n As a Barcl..."
3,Web Developer,Job details Job Type Full-time,,Position Responsibilities: Qualifications: Pre...
4,Jr. Software Developer,"Job details Salary $65,000 - $90,000 a year Jo...",Qualifications Bachelor's (Preferred) Node.js:...,Job Title: Jr. Software Developer Location: Pa...

In [15]:
job_data.duplicated().sum()

1497

In [16]:
job_data[job_data.duplicated() == True]

,title,job_details,qualifications,full_job_description
36,"Java Developer (100% Remote, $85/hr)",Job details Salary From $85 an hour Job Type F...,Qualifications Java: 4 years (Required) Bachel...,BNL Consulting is actively seeking a Java Deve...
38,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...
219,Remote C# Software Developer,Job details Job Type Full-time,,Overview:\n \nDo you have a passion for doing ...
293,Remote C# Software Developer,Job details Job Type Full-time,,Overview:\n \nDo you have a passion for doing ...
296,Remote C# Software Developer,Job details Job Type Full-time,,Overview:\n \nDo you have a passion for doing ...
...,...,...,...,...
3645,Lead Software Developer,"Job details Salary $67,600 - $190,100 a year",,The Team: The Impact: What’s in it for you: Co...
3648,Front End Developer,"Job details Salary $90,000 - $130,000 a year J...",,Are you the type of person who loves finding s...
3650,Core Developer,Job details Job Type Full-time,,What does a great TradeFlow Core Developer do?...
3651,SDET - C# - Fully Remote,"Job details Salary $125,000 - $160,000 a year",,"Our client, a software company in the healthca..."
3654,Software Developer PHP,Job details Job Type Full-time,,Posted: February 1st 2021 \n POSITION: \n Soft...

In [17]:
job_data[job_data == job_data.iloc[36]].dropna()

,title,job_details,qualifications,full_job_description
22,"Java Developer (100% Remote, $85/hr)",Job details Salary From $85 an hour Job Type F...,Qualifications Java: 4 years (Required) Bachel...,BNL Consulting is actively seeking a Java Deve...
36,"Java Developer (100% Remote, $85/hr)",Job details Salary From $85 an hour Job Type F...,Qualifications Java: 4 years (Required) Bachel...,BNL Consulting is actively seeking a Java Deve...

In [18]:
job_data[job_data == job_data.iloc[38]].dropna()

,title,job_details,qualifications,full_job_description
26,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...
38,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...
760,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...
790,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...
1968,Customer Success Engineer for Enterprise SaaS,"Job details Salary From $100,000 a year Job Ty...",Qualifications Bachelor's (Preferred),Location : Work From Your Home on a Remote-Fir...

In [19]:
job_data[job_data == job_data.iloc[1790]].dropna()

,title,job_details,qualifications,full_job_description
2,C# Developer,,,"Pricing Developer \nWhippany, NJ \n As a Barcl..."
1680,C# Developer,,,"Pricing Developer \nWhippany, NJ \n As a Barcl..."
1805,C# Developer,,,"Pricing Developer \nWhippany, NJ \n As a Barcl..."
2852,C# Developer,,,"Pricing Developer \nWhippany, NJ \n As a Barcl..."

In [20]:
job_data.drop_duplicates(inplace=True)

In [21]:
len(job_data)

2125

### Use spacy's built-in named entity recognizer as to generate ideas about domain specific entites

In [22]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [ ]:
docs = list(nlp.pipe(job_data.full_job_description))

In [ ]:
def show_ents(doc):
    if doc.ents:
        for ent in doc.ents:
            print(ent.text+' - ' + ent.label_+ ' - '+str(spacy.explain(ent.label_)))
    else:
        print("No named entities found.")

In [ ]:
show_ents(docs[0])

In [ ]:
show_ents(docs[358])

In [ ]:
def get_ents(doc):
    if doc.ents:
        return [ent.text for ent in doc.ents]
    else:
        pass

In [ ]:
from pandas.core.common import flatten

In [ ]:
ents = pd.Series(list(flatten([get_ents(doc) for doc in docs])))

In [ ]:
ent_counts = ents.value_counts(ascending=False)

In [ ]:
ent_counts

In [ ]:
ent_counts.head(50)

### Check performance of spacy ner
    Search for "Python" and "JavaScript" using spacy ner and simple string search with regex IGNORECASE

In [ ]:
ent_counts[ent_counts.index == "Python"]

In [ ]:
import re

In [ ]:
python_spacy_check = job_data.full_job_description.str.findall('Python', flags=re.IGNORECASE)

In [ ]:
python_spacy_check[python_spacy_check.values.astype(bool)]

In [ ]:
javascript_spacy_check = job_data.full_job_description.str.findall('JavaScript', flags=re.IGNORECASE)

In [ ]:
javascript_spacy_check[javascript_spacy_check.values.astype(bool)]

    Spacy ner seems to find "JavaScript" roughly the correct amount of times.
    But it substantially undercounts "Python": 40 vs. 244

### Build a rules-based gazateer for a job ad specific named-entity recognizer

In [ ]:
def count_skills(skill_title, pattern=None, flags=re.IGNORECASE):
    if not pattern:
        pattern = skill_title
    try:
        skill_series = job_data.full_job_description.str.findall(pattern, flags)
        count = len(skill_series[skill_series.values.astype(bool)])
        skill_count = {'Skill' : skill_title, 'Count' : count}
    except:
        pass
    else:
        return skill_count

In [ ]:
count_skills("Python")

In [ ]:
patterns = ['Python', "SQL", 'JavaScript', 'Java', 'AWS', 'Linux', 'Agile', 'Django', 'DevOps', 'Cloud',
           'CSS', 'Docker', 'Git', 'ETL', 'GIS', 'Tableau',
           'Kubernetes', "Cloud", 'Azure', 'Jenkins', 'Ruby', 'HTML5', 
            "Excel", "NoSQL", "Perl", "Hadoop", "Angular", "Lambda", "Oracle",
           'Redis', 'JIRA', 'Flask', 'JSON', 'PostgreSQL', 'Kafka', 'Terraform', 
            'Salesforce', 'XML', 'Scrum', 'Scala', 'Spark', 'NodeJS', 
            'Bash', 'JIRA', 'React', 'AngularJS' , "PowerShell", "HTML", 
            'Golang', 'GitHub', 'Visual Studio', 'jQuery', 'Bitbucket', "salesforce.com", 'Splunk', 
            'Machine Learning', 'Big Data', 'MySQL', 'DynamoDB', 'PowerPoint',
            'Selenium', 'Bootstrap', 'Power BI', 'GitLab', 'Redshift', 'Google Cloud', 'HTTP', 
            'Redfin', 'TCP/IP', 'Mongo', "WordPress", "MVC"]

In [ ]:
skill_counts = [count_skills(pattern) for pattern in patterns]

In [ ]:
skill_counts

In [ ]:
skill_counts_frame = pd.Series({skill_count['Skill']: skill_count['Count'] for skill_count in skill_counts })

In [ ]:
skill_counts_frame.sort_values(ascending=False, inplace=True)

In [ ]:
skill_counts_frame[:30].plot(kind="bar", figsize=(10,10))

In [ ]:
job_data[job_data.job_details.str.findall("Salary").astype(bool)]

In [ ]:
job_data[job_data.full_job_description.str.findall("\$").astype(bool)]

In [ ]:
pattern = r"(?:.*Salary\s)(?P<salary>.*)(?:Job\sType.*)"

salary = job_data.job_details.str.extract(pattern).dropna()

In [ ]:
pd.merge(job_data, salary, how="inner", right_index=True, left_index=True )